.timelineItem {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.timelineDot {
  width: 10px;
  height: 10px;
  background: #6c63ff;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 14px;
  border: 2px solid white;
  box-shadow: 0 0 0 2px #e5e7eb;
}


.timelineCard {
  background: white;
  border-radius: 12px;
  padding: 16px;
  flex: 1;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tag {
  background: #eef2ff;
  color: #6c63ff;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 6px;
}

.cardBody {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}
.cardBody-2{
font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #c2c1c13b;
  padding: 5px;
}

.cardFooter {
  font-size: 12px;
  color: #999;
  display: flex;
  justify-content: space-between;
}
.timelineItem {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}


/* type colors */
.dotAdded {
  background: #22c55e;
}

.dotModified {
  background: #3b82f6;
}

.dotDeleted {
  background: #ef4444;
}

.timelineCard {
  background: white;
  border-radius: 12px;
  padding: 16px;
  flex: 1;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tag {
  background: #eef2ff;
  color: #6c63ff;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 6px;
}

.cardBody {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.viewBtn {
  background: none;
  border: none;
  color: #6c63ff;
  cursor: pointer;
  font-size: 13px;
}
.timelineCard {
  background: white;
  border-radius: 12px;
  padding: 16px;
  flex: 1;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
  transition: all 0.2s ease;
}


.timelineCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 28px rgba(0,0,0,0.08);
}

.cardFooterSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap:10px
  
}
.cardFooterSection-icons{
  display : flex;
  gap:20px;
  font-size: 18px;

}

.timelineGroup {
  margin-bottom: 20px;
}

.timelineHeading {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  font-weight: 600;
}
