body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f5f6fa;
}

.navbar {
  height: 70px;
  background: white;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.pageWrapper {
  min-height: 100vh;
  background-color: white;
}

.layout {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}

.sidebar {
  width: 280px;
  flex-shrink: 0;
}

.contentArea {
  flex: 1;
  padding: 20px 30px;
  background: #f7f8fc;
  border-radius: 20px;
  box-shadow: "0 19px 7px rgb(0 0 0 / 0.1)";
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
