.navbar {
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
    font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hamburger {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-right: 15px;
  }
}
