.sidebar {
  width: 280px;
  background: #f7f8fc;
  padding: 2px 20px 20px 20px;
  border-right: 1px solid #e6e6e6;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  /* border-radius: 20px; */
  box-shadow: "0 9px 7px rgb(0 0 0 / 0.1)";
  transition: transform 0.3s ease;
}
@media (min-width: 1025px) {
  .sidebar {
    border-radius: 20px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 41px;
    left: 0;
    transform: translateX(-100%);
    z-index: 1500;
    height: calc(100vh - 70px);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

/* Title */
.filterTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.filterSection {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e9e9e9;
}


.filterSection h4 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 600;
}

/* Checkbox & Radio labels */
.filterSection label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
  font-size: 10px;
  cursor: pointer;
}

/* Checkbox */
.filterSection input[type="checkbox"] {
  width: 12px;
  height: 12px;
  accent-color: #6c63ff;
  cursor: pointer;
}

/* Radio */
.filterSection input[type="radio"] {
  accent-color: #6c63ff;
  cursor: pointer;
}

/* Slider */
.slider {
  width: 100%;
  margin-top: 8px;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: #6c63ff;
  border-radius: 50%;
  cursor: pointer;
}


/* Apply button */
.applyBtn {
  width: 100%;
  background: #6c63ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: 0.2s ease;
}

.applyBtn:hover {
  background: #584ff2;
}

/* Checkbox */
.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 10px;
}

.checkboxLabel input {
  display: none;
}

.customCheckbox {
  width: 12px;
  height: 12px;
  border: 2px solid #cfcfcf;
  border-radius: 4px;
  transition: 0.2s;
}

.checkboxLabel input:checked + .customCheckbox {
  background: #6c63ff;
  border-color: #6c63ff;
}

/* Radio */
.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 10px;
}

.radioLabel input {
  display: none;
}

.customRadio {
  width: 12px;
  height: 12px;
  border: 2px solid #cfcfcf;
  border-radius: 50%;
}

.radioLabel input:checked + .customRadio {
  border-color: #6c63ff;
  background: radial-gradient(#6c63ff 45%, transparent 46%);
}

/* Amount row */
.amountRow {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 6px;
  color: #666;
}

.filterButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.clearBtn {
  background: none;
  border: "1px  solid #6c63ff";
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  max-width: 100px;
  color: #6c63ff;

  cursor: pointer;
  font-weight: 500;
}

.applyBtn {
  background: #6c63ff;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  max-width: 100px;
}
.seeMoreBtn {
  background: none;
  border: none;
  color: #6c63ff;
  font-size: 13px;
  cursor: pointer;
  margin-top: 4px;
}