input[type="range"] {
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  background: #6c63ff;
  border-radius: 50%;
  cursor: pointer;
}


.sidebar h3 {
  margin-bottom: 15px;
}

.sidebar label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
