input[type="range"] {
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  background: #6c63ff;
  border-radius: 50%;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}
